#comboItemPrice {
  display: flex;
  justify-content: space-between;
}

.menuItem {
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
}
.menuPrices {
  text-align: right;
  font-family: serif;
}

#orderSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.selections {
  min-width: 100px;
  background-color: tan;
  padding: 2em;
}
aside {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  background-color: #ffcc66;
  padding: 2em;
}
.contactInfo {
  display: flex;
  flex-direction: column;
}
.currentOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*http://css3buttongenerator.com/
*/
#addToOrder {
  display: inline-flex;
  align-items: flex-end;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#addToOrder:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
